.profile{
  display: flex;
  padding-top: 85px;
  padding-bottom: 20px;
  gap: 20px;
}
.profile main{
  flex: 4;
  background-color: white;
  border-radius: 18px;
  position: relative;
}
.profile{
  background-color: #efebeb;
}
.layout_sidebar{
  background-color: #efebeb;

}