.container {
    background-color: rgba(0, 0, 0, 0.05);

    .cart-wrapper {
        display: flex;
        justify-content: center;
        padding: 50px;

        .cart-product {
            width: 60%;
            padding: 20px;
            height: fit-content;
            border: 1px solid lightgray;
        }

        .cart-total {
            flex: 1;
            margin-left: 20px;
            padding: 30px;
            height: fit-content;
            display: flex;
            justify-content: start;
            flex-direction: column;
            border: 1px solid lightgray;
        }
    }
}

.cart-total {
    .cart-address {
        .cart-address-addr {
            margin-top: 20px;
            display: flex;
            align-items: center;


            i {
                margin-right: 10px
            }
        }
    }

    .cart-summary-heading,
    .cart-title-address,
    .payment-title {
        font-size: 30px;
        font-weight: 700;

    }

    .cart-summary {
        border-top: 1px solid lightgray;
        margin-top: 40px;

        .cart-summary-subtotal {
            margin-top: 30px;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }


    }
}

.payment-cart {
    margin-top: 20px;
    text-align: center;
    justify-content: center !important;

    .payment-cart-btn {
        width: 80%;
        padding: 10px;
        border-radius: 10px;
        font-weight: 600;
        border: none;
        color: white;
        background-color: #21b7d1;

        &:hover {
            animation: opacity 0.5 linear;
        }
    }
}

.payment {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .payment-cash,
    .payment-zalo {
        height: 50px;
        width: 250px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid lightgray;
        cursor: pointer;
        margin-top: 10px;
        background-color: white;

        img {
            width: 40px;
            cursor: pointer;
        }


        input {
            cursor: pointer;
            margin-left: 10px;
        }
    }
}

.cart-total-row {
    margin-top: 20px;

    .cart-summary-price {
        color: #21b7d1;

    }


}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}

@media only screen and (max-width: 480px) {}

@media only screen and (min-width: 481px) and (max-width: 767px) {

    .cart-wrapper {
        font-size: 10px !important;
    }

    .payment-cart-btn {
        width: 40% !important;
    }


}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
    .payment-cart-btn {
        width: 40% !important;
    }
}

@media only screen and (max-width: 480px) {
    .cart-total {

        p,
        span {
            font-size: 8px
        }
    }

    .cart-title-address,
    .cart-summary-heading {
        font-size: 20px !important;
    }

    .payment-cart-btn {
        width: 40% !important;
        font-size: 10px !important;
        padding: 5px !important;
    }
}