.product-description {
  max-height: 200px;
  overflow: hidden;
}

.product-description p {
  margin: 0 0 10px 0;
}

.read-more-btn {
  margin-top: 10px;
}

.show-less-btn {
  margin-top: 10px;
}
.slide_show_detail{
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}
.detail_title{
  flex: 1;
}
.top_details{
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  gap: 30px;
}

.slide_show_detail .fa-angle-left{
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 40px;
  cursor: pointer;

}
@keyframes animation_detail {
  from{
    opacity: 0;
  }to{
       opacity: 1;
     }
}
.aminition_details{
  animation: animation_detail 1s ;
}
.slide_show_detail .fa-angle-right{
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 40px;
  cursor: pointer;

}
.main_details{
  margin-top: 58px;
  padding-top: 20px;
}

.detail_title{

}
.detail_title > h1{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

}